.popup{
  background: white;
  z-index: 2000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  /*padding: 22px;*/
  border-radius: 12px;
  box-shadow: 10px 10px 10000px black;
}

.popup span{
  font-size: 10px;
  color: orangered;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
